body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 250px; /* Ajuste o tamanho conforme necessário */
    height: 60px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Ajusta o conteúdo da imagem para cobrir a área definida */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    overflow: hidden; /* Esconde o excesso da imagem */
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    border: 5px solid #009BFF;
    padding: 70px;
    border-radius: 5px;
    background-color: #F9F9F9;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #005BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.question {
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 5px;
}

.signature {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.signature label {
    display: block;
    margin-top: 5px;
}
